.nav {
  width: 100%;
  max-width: 400px;
  margin: 0 5px;
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    &-link {
      font-size: 13px;
      line-height: 1.4em;
      letter-spacing: 0.04em;
      height: 100%;
      width: 100%;
    }
  }
}
